
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33%;
  padding: 120px;
  text-align: center;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
  .carousel-item {
    width: 100%;
     height: 400px;
   }
   
   .carousel-item img{
     position: absolute;
     margin-left: 0;
     margin-top: 0;
     margin-right: 0;
     object-fit: fill;
     width: 1000px;
     height: 400px;
   }
   
   h2{
     background-color: darkgray;
   }
   p, h1{
     background-color: white;
     color: black;
   }