<!--
  @author S Satya Sri,P Vyshnavi, Tarishi Geetey
-->
<section class="al-footer">
  <div class="container">
      <div class="row al-footer-head">
          <div class="col-4">
              <h1 class="footer-logo rounded d-inline-block py-1 px-3 m-0"><img class="logo" src="../../assets/imgs/logo.png" alt="logo">YourCastle</h1>
          </div>
          <div class="col-8">
              <div class="al-footer-social">
                  <ul class="nav justify-content-end">
                      <li class="nav-item"><a href="#" class="nav-link"><i class="fab fa-facebook-square"></i></a></li>
                      <li class="nav-item"><a href="#" class="nav-link"><i class="fab fa-instagram"></i></a></li>
                      <li class="nav-item"><a href="#" class="nav-link"><i class="fab fa-youtube-square"></i></a></li>
                      <li class="nav-item"><a href="#" class="nav-link"><i class="fab fa-twitter-square"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6 col-lg-4">
              <div class="al-footer-col">
                  <h3 class="al-footer-title mb-3">About</h3>
                  <p class="mb-0">YourCastle Home Loans is the largest Mortgage Lender in Konohagakure, which has helped over 30 lakh families to achieve the dream of owning a home.</p>
                  <h3 class="al-footer-title mb-3">Contact</h3>
                  <p><i class="fas fa-home mr-2"></i> 7-Konohagakure Lane, The Leaf-Village Street, 12367</p>
                  <p><i class="fas fa-phone mr-2"></i> +91-678-9000000 </p>
                  <p class="mb-0"><i class="far fa-envelope mr-2"></i> yourCastle@homeloans.com </p>

              </div>
          </div>
          <div class="col-md-3 col-lg-2">
            <div class="al-footer-col">
                <h3 class="al-footer-title mb-3">Services</h3>
                <ul class="list-unstyled al-links mb-0">
                    <li><a href="#">Calculators</a></li>
                    <li><a href="#">Consulting</a></li>
                </ul>
            </div>
        </div>
          <div class="col-md-3 col-lg-2">
              <div class="al-footer-col">
                  <h3 class="al-footer-title mb-3">Company</h3>
                  <ul class="list-unstyled al-links mb-0">
                      <li><a href="#">About</a></li>
                      <li><a href="#">Terms & Services</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="al-footer-col">
                <h3 class="al-footer-title mb-3">Apply now</h3>
                <ul class="list-unstyled al-links mb-0">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign Up</a></li>
                </ul>
            </div>
        </div>
          <div class="col-md-6 col-lg-2">
              <div class="al-footer-col">
                  <h3 class="al-footer-title mb-3">More</h3>
                  <ul class="list-unstyled al-links mb-0">
                      <li><a href="#">Contact</a></li>
                      <li><a href="#">Support</a></li>
                      <li><a href="#">FAQs</a></li>  
                  </ul>
              </div>
          </div>
      </div>
      <div class="row al-footer-copy justify-content-center">
          <div class="col-sm-12 col-md-6 align-self-center">
              <p class="mb-0">2021 &copy; <a href="#">YourCastle Home Loans [ABC-ZZZ-BBB-YYY]. All Right Fictiously Reserved.</a></p>
          </div>
         
      </div>
  </div>
</section>