<div class="container">
    <br> <br>
    <div>
        <input #id placeholder="Enter Customer Id"><span></span>
        <button mat-raised-button color="primary" (click)="getCustomerById(id.value)">Search</button>
      </div>
        <br><br>
        <div [hidden]="!found">
            <table class="table table-striped">
              <tr class="table-warning"> 
              <th>Customer Personal Details</th>
              </tr>
              <tr>
                <td>Customer Id</td>
                <td>{{ customer.cust_id }}</td>
              </tr>
              <tr>
                <td>Name</td>
                <td>{{ customer.custName }}</td>
              </tr>
          
              <tr>
                <td>DOB</td>
                <td>{{ customer.cust_dob }}</td>
              </tr>
          
              <tr>
                <td>Gender</td>
                <td>{{ customer.cust_gender }}</td>
              </tr>
          
              <tr>
                <td>Phone No.</td>
                <td>{{ customer.phoneNo }}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{ customer.cust_email }}</td>
              </tr>
          
              <tr>
                <td>Address</td>
                <td>{{ customer.cust_address }}</td>
              </tr>
          
              <tr>
                <td>City</td>
                <td>{{ customer.city }}</td>
              </tr>
          
              <tr>
                <td>State</td>
                <td>{{ customer.state }}</td>
              </tr>
          
              <tr>
                <td>Pincode</td>
                <td>{{ customer.pincode }}</td>
              </tr>
              <tr class="table-info">
                <td>
                  Foreclouser Status
                </td>
                <td>{{ customer.foreclousre }}</td>
              </tr>
              <tr class="table-warning">
              <th>Loan Details</th>
            </tr>
              <tr>
                <td>Loan Id</td>
                <td>{{ customer.cust_loan.loan_id }}</td>
              </tr>
              <tr>
                <td>Loan Name</td>
                <td>{{ customer.cust_loan.loan_name }}</td>
              </tr>
          
              <tr>
                  <td>Loan Principal</td>
                  <td>{{ customer.cust_loan.loan_principal }}</td>
                </tr>
          
                <tr>
                  <td>Loan Intrest Rate</td>
                  <td>{{ customer.cust_loan.loan_interest_rate }}</td>
                </tr>
          
                <tr>
                  <td>Loan tenure</td>
                  <td>{{ customer.cust_loan.loan_tenure }}</td>
                </tr>
          
                <tr class="table-success">
                  <td>Loan Status</td>
                  <td>{{ customer.cust_loan.loan_status }}</td>
                </tr>
          
                <tr class="table-info">
                  <td>Eligibility Loan Amount</td>
                  <td>₹. {{ customer.cust_loan.loan_emi | number: '1.1-3'}}</td>
                </tr>
                <tr class="table-warning">
                <th>Property and Income Details</th>
              </tr>
                <tr>
                  <td>Capital Id</td>
                  <td>{{ customer.cust_capital.cap_id }}</td>
                </tr>
                <tr>
                  <td>Property  Name</td>
                  <td>{{ customer.cust_capital.property_name }}</td>
                </tr>
            
                <tr>
                    <td>Property Value</td>
                    <td>{{ customer.cust_capital.property_value }}</td>
                  </tr>
            
                  <tr>
                    <td>Property location</td>
                    <td>{{ customer.cust_capital.location }}</td>
                  </tr>
            
                  <tr>
                    <td>Monthly Income</td>
                    <td>{{ customer.cust_capital.monthly_income }}</td>
                  </tr>
                  <tr class="table-warning">
                    <th>Auth Doc Details</th>
                  </tr>
                  <tr>
                    <td>Document Id</td>
                    <td>{{ customer.cust_auth_document.auth_id }}</td>
                  </tr>
                  <tr>
                    <td>Aadhar Card</td>
                    <td>{{ customer.cust_auth_document.auth_aadhar }}</td>
                  </tr>
              
                  <tr>
                      <td>Pan Card</td>
                      <td>{{ customer.cust_auth_document.auth_pan }}</td>
                    </tr>
              
                    <tr>
                      <td>Income Certificate</td>
                      <td>{{ customer.cust_auth_document.auth_income_certificate }}</td>
                    </tr>
            </table>
            <div class="container">
              <button mat-raised-button color="primary" (click)="updateLoanStatus(id.value)">Auto-Update Loan Status</button>
            <br><br>
            </div>
          </div>
</div>