<!--
  @author  S Satya Sri,P Vyshnavi
-->
<div class="container">
<button mat-raised-button color="primary" (click)="getLoanById()">Show Loan Deatails</button>
<br /><br />
<div [hidden]="!found">
  <table class="table table-dark">
    <tr>
      <td>Loan Id</td>
      <td>{{ loan.loan_id }}</td>
    </tr>
    <tr>
      <td>Loan Name</td>
      <td>{{ loan.loan_name }}</td>
    </tr>

    <tr>
        <td>Loan Principal</td>
        <td>{{ loan.loan_principal }}</td>
      </tr>

      <tr>
        <td>Loan Intrest Rate</td>
        <td>{{ loan.loan_interest_rate }}</td>
      </tr>

      <tr>
        <td>Loan tenure</td>
        <td>{{ loan.loan_tenure }}</td>
      </tr>

      <tr class="table-info">
        <td>Loan Status</td>
        <td>{{ loan.loan_status }}</td>
      </tr>

      <tr class="table-success">
        <td>Eligibility Loan Amount</td>
        <td>₹. {{ loan.loan_emi | number: '1.1-3'}}</td>
      </tr>
  </table>
  </div>
</div>
