 <div class="container">
  <br>
  <button mat-raised-button color="primary" (click)="getCustomerById()">
    Show Personal Details
  </button> 
 
  <br>
  <div [hidden]="!found">
    <br>
    <table class="table table-dark">
      <tr>
        <td>Customer Id</td>
        <td>{{ customer.cust_id }}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{ customer.custName }}</td>
      </tr>
  
      <tr>
        <td>DOB</td>
        <td>{{ customer.cust_dob }}</td>
      </tr>
  
      <tr>
        <td>Gender</td>
        <td>{{ customer.cust_gender }}</td>
      </tr>
  
      <tr>
        <td>Phone No.</td>
        <td>{{ customer.phoneNo }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ customer.cust_email }}</td>
      </tr>
  
      <tr>
        <td>Address</td>
        <td>{{ customer.cust_address }}</td>
      </tr>
  
      <tr>
        <td>City</td>
        <td>{{ customer.city }}</td>
      </tr>
  
      <tr>
        <td>State</td>
        <td>{{ customer.state }}</td>
      </tr>
  
      <tr>
        <td>Pincode</td>
        <td>{{ customer.pincode }}</td>
      </tr>
      <tr class="table-info">
        <td>
          Foreclouser Status
        </td>
        <td>{{ customer.foreclousre }}</td>
      </tr>
    </table>
  </div>

</div>


 